@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Morpheus University</h2>
                <p>
                    Lorem ipsum is the best
                </p>
                <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Morpheus University</h2>
        <p>
            Morpheus University is your gateway to learning.  
            Enroll in different learning channels and track 
            your progress here.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download Morpheus</h2>
        <p>You download the application by registering at our hub and accessing our packages.</p>
        <p><a class="btn btn-default" href="https://morpheushub.com">Register at our hub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Read the Docs</h2>
        <p>Refernce all of our online documentation for self-paced learning.</p>
        <p><a class="btn btn-default" href="https://docs.morpheusdata.com">See our docs &raquo;</a></p>
    </div>
</div>